src/main/mule/only-decryption.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:crypto="http://www.mulesoft.org/schema/mule/crypto"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/crypto http://www.mulesoft.org/schema/mule/crypto/current/mule-crypto.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d5de60d3-175f-4668-8703-6795627f90ca" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="3fc0cc4a-4c8d-466e-8793-2af0bc4b747a">
		<file:connection workingDir="${mule.home}/src/main/resources" />
	</file:config>
	<crypto:pgp-config name="Crypto_Pgp" doc:name="Crypto Pgp" doc:id="c4236fc5-1b93-4937-9150-beb3ece7d647" publicKeyring="keys/Workday_Global_secret-key-4A43A68D.asc" privateKeyring="keys/Workday_SecretKey.asc">
		<crypto:pgp-key-infos >
			<crypto:pgp-asymmetric-key-info keyId="workday-key" fingerprint="9B5E3D3A829DB57420C526B825FBB8844A43A68D" passphrase="7ae79ba0483a999b6d5eb502ad884d6c61c1c5a5ac4fcbbb089de20d6a22ad18" />
		</crypto:pgp-key-infos>
	</crypto:pgp-config>
	<configuration-properties doc:name="Configuration properties" doc:id="6b3646a3-ea17-4744-a9a2-8dcccfdfd7c6" file="properties\dev.properties" />
	<flow name="only-decryptionFlow" doc:id="fcee3424-9201-4a8d-9a82-67c98ee2f33b" >
		<http:listener doc:name="Listener" doc:id="4cba1749-5c49-4bd9-a7c3-c14a2078ad42" config-ref="HTTP_Listener_config" path="/"/>


<set-variable value="PRT_WFM_PRT_Absentismo" doc:name="varFlowName" doc:id="963d871b-5526-4c2c-8011-e2903609ece2" variableName="varFlowName" />
		<flow-ref doc:name="Common Yoda Flow Reference" doc:id="33d33a76-dcae-4102-a4ae-969bd416346e" name="Common_Yoda_Sub_Flow" />
		<!-- <ee:transform doc:name="Build Filenames">
  <ee:message>
    <ee:set-payload><![CDATA[
      %dw 2.0
      import fn from modules::filenames
      output application/java
      -&#45;&#45;
      fn::buildFileNames(vars.varFlowName)
    ]]></ee:set-payload>
  </ee:message>
</ee:transform>


		<file:read doc:name="Read" doc:id="991ecd7a-658c-4ab0-b065-b80022f3db08" path="C:\Users\swmuthya\Talend\Source Files-20260127T121840Z-3-001\Source Files\Carga_Horaria20260125.csv" config-ref="File_Config"/>
		<crypto:pgp-decrypt doc:name="Pgp decrypt" doc:id="d1429cdf-3f98-4b60-948b-e53c603de737" config-ref="Crypto_Pgp"/> -->
		<logger level="INFO" doc:name="Job complete logger" doc:id="0d68e418-5d73-43ad-ab3b-c6d84b1dcc51" message="scheduler job completed successfully" />
	</flow>
	<sub-flow name="Common_Yoda_Sub_Flow" doc:id="506b4062-0333-4fdd-a4bc-f0c2c9a33c38" >
		<logger level="INFO" doc:name="Logger" doc:id="c9158aba-b8fa-4b9c-9cb8-724651c9fa35" />
		<ee:transform doc:name="Build Input/Output Filenames" doc:id="25329565-c569-4d59-9d11-cfb59d64aa71" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="varConfig" ><![CDATA[%dw 2.0
output application/json
var cfg = readUrl("classpath://flows.json", "application/json")
var entry = cfg.flows[vars.varFlowName] default {}
var ext = (cfg.extension default ".csv") as String
var yyyyMMdd = (now() as String { format: "yyyyMMdd" })
var stamp = (now() as String { format: "yyyyMMddHHmmss" })
---
if (isEmpty(entry)) 
  {
    error: "Unknown flow key",
    flowKey: vars.varFlowName
  }
else
  {
    SFTPInputFileName: (entry.inputPrefix default "") ++ yyyyMMdd ++ ext,
    OutputFileName: (entry.outputPrefix default "") ++ yyyyMMdd ++ "_" ++ stamp ++ ext,
    EncryptionFlag: (entry.encryptionFlag default false),
    dwlMappingFile: (entry.dwlMappingFile default "")
  }]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="541c5e34-eb46-470f-9f27-b4cb4f3ea222" >
			<file:read doc:name="Read" doc:id="b2998a60-7bf8-4883-bbb5-6f7b347565ac" config-ref="File_Config" path="test_data.csv" outputMimeType="application/csv" />
		</try>
		<logger level="INFO" doc:name="Log Payload Size" message="#[if(payload != null) 'Payload size: ' ++ payload.size() else 'Payload is null']" />
		<logger level="DEBUG" doc:name="Log Payload Sample" message="#[write(payload, 'application/json')]" />
		<choice doc:name="PGP Optional">
			<when expression="#[((vars.varConfig.EncryptionFlag) as Boolean)]">
				<crypto:pgp-decrypt doc:name="Pgp decrypt" doc:id="58ed7b0c-84cc-472f-980a-ad818a138965" config-ref="Crypto_Pgp" />
			</when>
			<otherwise>
				<logger level="INFO" message="PGP disabled"/>
			</otherwise>
		</choice>
		<!-- Dynamic transformation - loads DWL file, strips header/output and executes it -->
		<ee:transform doc:name="Dynamic Transform" doc:id="transform">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/csv header=true
var script = readUrl("classpath://dw/" ++ vars.varConfig.dwlMappingFile)
var cleaned =
	(script splitBy "\n")
		filter ((line) -> not (
			startsWith(line, "%dw") or
			startsWith(line, "output") or
			(trim(line) == "---")
		))
		joinBy "\n"
---
eval(cleaned)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Final Payload Size" message="#[if(payload != null) 'Final payload size: ' ++ payload.size() else 'Final payload is null']" />
	</sub-flow>
</mule>