src/main/mule/only-decryption.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:crypto="http://www.mulesoft.org/schema/mule/crypto"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/crypto http://www.mulesoft.org/schema/mule/crypto/current/mule-crypto.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cb2387c8-78e3-49d0-bda7-35ba51fc059d" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="32905184-8464-4ce6-b868-93061f14afbf" />
	<crypto:pgp-config name="Crypto_Pgp" doc:name="Crypto Pgp" doc:id="f9351a73-39f6-416b-ae88-dafd694eddcb" publicKeyring="keys/Workday_Global_secret-key-4A43A68D.asc" privateKeyring="keys/Workday_SecretKey.asc">
		<crypto:pgp-key-infos >
			<crypto:pgp-asymmetric-key-info keyId="workday-key" fingerprint="9B5E3D3A829DB57420C526B825FBB8844A43A68D" passphrase="7ae79ba0483a999b6d5eb502ad884d6c61c1c5a5ac4fcbbb089de20d6a22ad18" />
		</crypto:pgp-key-infos>
	</crypto:pgp-config>
	<configuration-properties doc:name="Configuration properties" doc:id="8aa5502e-3100-4547-9276-f6ba8188061b" file="properties\dev.properties" />
	<flow name="only-decryptionFlow" doc:id="f275c242-1f8b-4eb1-b32b-cceb3326b5e2" >
		<http:listener doc:name="Listener" doc:id="17ca6cdf-4586-4e28-907d-6711412faa5e" config-ref="HTTP_Listener_config" path="/"/>


<set-variable value="PRT_WFM_PRT_Absentismo" doc:name="varFlowName" doc:id="aa2f9f20-82c5-415e-9c02-8350509c4c92" variableName="varFlowName" />
		<flow-ref doc:name="Common Yoda Flow Reference" doc:id="a8350123-0578-4063-8908-3909f71cd7a0" name="Common_Yoda_Sub_Flow" />
		<logger level="INFO" doc:name="Job complete logger" doc:id="e2407fd1-d1be-4d4b-9ed1-db1da1b23885" message="#[payload]" />
	</flow>
	<sub-flow name="Common_Yoda_Sub_Flow" doc:id="1516c951-c735-4d87-b382-c7b54b155df1" >
		<logger level="INFO" doc:name="Logger" doc:id="575b50ba-80b0-4572-9c42-5313e0bc35e9" />
		<ee:transform doc:name="Build Input/Output Filenames" doc:id="15a5b48a-339a-4e60-9ded-3dc8e75693c5" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="varConfig" ><![CDATA[%dw 2.0
output application/json
var cfg = readUrl("classpath://flows.json", "application/json")
var entry = cfg.flows[vars.varFlowName] default {}
var ext = (cfg.extension default ".csv") as String
var yyyyMMdd = (now() as String { format: "yyyyMMdd" })
var stamp = (now() as String { format: "yyyyMMddHHmmss" })
---
if (isEmpty(entry)) 
  {
    error: "Unknown flow key",
    flowKey: vars.varFlowName
  }
else
  {
    SFTPInputFileName: (entry.inputPrefix default "") ++ yyyyMMdd ++ ext,
    OutputFileName: (entry.outputPrefix default "") ++ yyyyMMdd ++ "_" ++ stamp ++ ext,
    EncryptionFlag: (entry.encryptionFlag default false),
    dwlMappingFile: (entry.dwlMappingFile default "")
  }]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="1e960498-f77e-4d9f-b0a6-8bfda29735d4" >
			<file:read doc:name="Read" doc:id="b2d26d84-a5aa-434e-97ec-6517953efd29" config-ref="File_Config" path="C:\Users\swmuthya\Talend\test_data.csv"/>
		</try>
		<choice doc:name="PGP Optional">
            <when expression="#[((vars.varConfig.EncryptionFlag) as Boolean)]">
                <logger level="INFO" message="#['Decrypting (PGP) ' ++ (vars.inputFileInfo.originalFileName default 'current file')]"/>
				<crypto:pgp-decrypt doc:name="Pgp decrypt" doc:id="56b5e521-d931-4338-af6a-1b61247a0e14" config-ref="Crypto_Pgp" />
            
</when>
            <otherwise>
                <logger level="INFO" message="PGP disabled"/>
            </otherwise>
        </choice>
		<set-variable value="#[readUrl('classpath://dw/' ++ vars.varConfig.dwlMappingFile, 'text/plain')]" doc:name="Set Variable" doc:id="fda1bd10-03ad-433f-9825-5c8ffc51a7c0" variableName="varMapping"/>
		<ee:dynamic-evaluate doc:name="Dynamic Evaluate" doc:id="061d66f3-4aa9-4f1a-b2f6-e9eba0c586e0" expression="#[vars.varMapping]"/>
		<logger level="INFO" doc:name="Log Final Payload Size" message="#[if(payload != null) 'Final payload size: ' ++ ((payload.size()) default 0) as String else 'Final payload is null']" />
	</sub-flow>
</mule>